{%extends 'fitmaxapp/base.html'%}
{%load static%}






{%block barner%}
<section class="s-club-cards">
    <div class="container">
        <h2 class="title-decor">Club <span>Cards</span></h2>
        <p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p>
        <div class="row">
            <div class="col-md-4 club-card-col">
                <div class="club-card-item" style="background-image: url(../../static/fitmaxapp/assets/img/bg-price-1.svg);">
                    <div class="price-cover">
                        <div class="price">40</div>
                        <div class="date"><span>99</span>3 months</div>
                    </div>
                    <ul class="list">
                        <li>Maecenas consequat</li>
                        <li>ex id lobortis venenatis</li>
                        <li>Mauris id erat enim</li>
                        <li class="item-excluded">Morbi dolor dolortin</li>
                        <li class="item-excluded">lorem ut, venenatis dapibus mi</li>
                    </ul>
                    <a href="{%url 'fitMax:checkout'%}?plan=monthly" class="btn">order now</a>
                </div>
            </div>
            <div class="col-md-4 club-card-col">
                <div class="club-card-item" style="background-image: url(../../static/fitmaxapp/assets/img/bg-price-2.svg);">
                    <div class="price-cover">
                        <div class="price">70</div>
                        <div class="date"><span>99</span>6 months</div>
                    </div>
                    <ul class="list">
                        <li>Maecenas consequat</li>
                        <li>ex id lobortis venenatis</li>
                        <li>Mauris id erat enim</li>
                        <li>Morbi dolor dolortin</li>
                        <li class="item-excluded">lorem ut, venenatis dapibus mi</li>
                    </ul>
                    <a href="{%url 'fitMax:checkout'%}?plan=yearly" class="btn">order now</a>
                </div>
            </div>
            <div class="col-md-4 club-card-col">
                <div class="club-card-item" style="background-image: url(../../static/fitmaxapp/assets/img/bg-price-3.svg);">
                    <div class="price-cover">
                        <div class="price">120</div>
                        <div class="date"><span>99</span>1 year</div>
                    </div>
                    <ul class="list">
                        <li>Maecenas consequat</li>
                        <li>ex id lobortis venenatis</li>
                        <li>Mauris id erat enim</li>
                        <li>Morbi dolor dolortin</li>
                        <li>lorem ut, venenatis dapibus mi</li>
                    </ul>
                    <a href="program.html" class="btn">order now</a>
                </div>
            </div>
        </div>
    </div>
</section>



{%endblock%}